<nav class="iris-navbar">
    <ul class="iris-navbar-nav iris-logo">
        <li><a href="#">Iris</a></li>
    </ul>

    <ul class="iris-navbar-nav iris-navbar-right">
        <li>
            <form class="iris-form">
                <div class="iris-form-icon">
                    <i class="iris-icon-search"></i>
                    <input type="search"/>
                </div>
            </form>
        </li>
        <li><a href="#"><i class="iris-icon-question"></i>帮助</a></li>
        <li><a href="#"><i class="iris-icon-power-off"></i>退出</a></li>
    </ul>
</nav>